<html>
  <head>
    <title>CloudTrip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .navbar-header {
        background-color: var(--card-bg);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        padding: 1.5rem 1rem;
      }

      .navbar-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-left: 4.5rem;
        height:60px;
      }

      .navbar-image {
        height: 80px;
        width:auto;
      }

      .title {
        font-family: var(--font-family-inter, sans-serif);
        color: var(--body-text, #333);
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 10px;
      }

      @media (max-width: 768px) {
        .navbar-container {
          flex-direction: column;
          justify-content: center;
        }

        .logo {
          position: static;
          margin-bottom: 0.5rem;
        }

        .title {
          font-size: 1.2rem;
          text-align: center;
        }

      }
    </style>
  </head>

  <body>
    <header class="navbar-header">
      <nav class="navbar-container">
        <div class="logo">
          <%= image_tag "logo_no_name.png", alt: "CloudTrip Logo", class:
          "navbar-image" %>
        </div>
        <div class="title">
          <span class="header-lg">CloudTrip</span>
        </div>
      </nav>
    </header>
  </body>
</html>
