:root {
  --primary-button: #4c8daa;
  --app-bg: #c8eaf0;
  --card-bg: #ffffff;
  --header-text: #4c8daa;
  --body-text: #333333;
  --accent-text: #ffa999;
  --burnt-red: #a7391e;
  --font-family-inter: "Inter", sans-serif;
}

.card {
  background-color: var(--app-bg);
  color: var(--body-text);
  font-family: var(--font-family-inter);
}

.header-text {
  color: var(--header-text);
}

.header-lg {
  font-size: 2rem;
  font-weight: 800;
}

.header-md {
  font-size: 1.5rem;
}

.header-sm {
  font-size: 1.25rem;
}

.button-primary {
  background-color: var(--primary-button);
  color: white;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 0.25rem;
  font-family: var(--font-family-inter);
  font-size: 1.1rem;
  cursor: pointer;
  display: block;
  text-align: center;
  transition: background-color 0.3s ease;
}

.button-primary:hover {
  background-color: #3a6e88;
}

.burnt-red {
  background-color: var(--burnt-red);
  color: white;
  padding: 0.5rem;
}
